* {
    background-image: url ("symphony.png");
    background-attachment: fixed;
}

h1 {
    color: #ffffff;
    background-color: palevioletred;
    width: 150px;
    height: 30px;
    text-align: center;
    padding: 10px;
}

.about-me, .contact, .Portfolio {
    background-color: blue;
    width: 960px;
    height: 200px;
    padding: 3px 20px 15px 20px;
    border: solid #cccccc;
}

.footer-line{ 
    border: solid #4aaaa5; 
}

footer{
    background-color:#666666;
    height: 50px;
    text-align: center;
    color: #ffffff;
}