body {
    background-image: url("symphony.png");
    background-color: aqua
}

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    width: 150px;
    height: 30px;
    text-align: center;
    padding: 10px;
}

h2{ 
    color: #4aaaa5;
}

/*this is floating the image to the left*/
img{ 
    float: none;
    clear: left;
}

/*this is creating the horizontal nav bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
}

a {
    display: block;
    padding: 20px;
    color: gray;
}

/*this changes the color of the buttons on hover */
li a:hover{
    background-color: #4aaaa5;
    color: white;
}

.acttive {
    background-color: #4aaaa5;
}

.about-me, .contact, .Portfolio {
    background-color: #ffffff;
    width: 960px;
    height: 200px;
    padding: 3px 20px 15px 20px;
    margin: auto;
    border: solid #cccccc;
}

/*this is creating the side by side images in the porfolio page*/
.img-container{
    float: left;
    width: 33.33%;
    padding: 5px;
}


.footer-line{ 
    margin: 50px 0px 0px;
    border: solid #4aaaa5; 
}

footer{
    background-color:#666666;
    height: 50px;
    text-align: center;
    color: #ffffff;
}